{% extends 'base.html' %}

{% block body_block %}
<body style="background: #03080a;">

    <div class="conainer">
        <h2>Banking: Credit Default prediction </h2>
        {{ context }}

      dict_data = {'PAY_0':-1, 'PAY_2':3, 'PAY_3':0, 'PAY_4':0, 'PAY_5':4, 'PAY_6':1, 'BILL_AMT2':2000,
       'BILL_AMT3':5000, 'BILL_AMT4':3400, 'BILL_AMT5':10000, 'BILL_AMT6':2500, 'PAY_AMT1':0,
       'PAY_AMT2':1000, 'PAY_AMT3':2000, 'PAY_AMT4':1000}
        <form method="POST" action="{{ url_for('classify') }}" accept-charset="utf-8">
        <div class="row">
            <div class="col-4">
                <div class="form-row">
                <!-- <div class="col mt-1 pt-1" mt-5>
                    <input type="number" class="form-control"  name="LIMIT_BAL" step="0.01" placeholder="LIMIT_BAL 0 to 100000000">
                </div> -->
                <div class="col mt-1 pt-1" mt-5>
                    <input type="number" class="form-control" name="PAY_0" value="1" placeholder="PAY_0 -2 to 8">
                </div>
                </div>
                <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control"  name="PAY_2" value="2" placeholder="PAY_2 -2 to 8">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" name="PAY_3"  value="2" placeholder="PAY_3 -2 to 8">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" name="PAY_4"  value="2" placeholder="PAY_4 -2 to 8">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control"  name="PAY_5" value="2" placeholder="PAY_5 -2 to 8">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" name="PAY_6" value="2"  placeholder="PAY_6 -2 to 8">
                    </div>
                  </div>
                  <div class="form-row">
                    <!-- <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT1"  placeholder="BILL_AMT1 0 to 100000000">
                    </div> -->
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT2"  value="20000" placeholder="BILL_AMT2 0 to 100000000">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT3"  value="1000" placeholder="BILL_AMT3 0 to 100000000">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT4" value="5000"  placeholder="BILL_AMT4 0 to 100000000">
                    </div>
                  </div>
                  </div>
            <div class="col-4">

                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT5"  value="200" placeholder="BILL_AMT5 0 to 100000000">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="BILL_AMT6"  value="2000" placeholder="BILL_AMT6 0 to 100000000">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT1"  value="1000" placeholder="PAY_AMT1 0 to 1000000">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT2" value="200"  placeholder="PAY_AMT2 0 to 1000000">
                    </div>
                  </div>                  
                  <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT3" value="2000"  placeholder="PAY_AMT3 0 to 1000000">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT4" value="0"  placeholder="PAY_AMT4 0 to 1000000">
                    </div>
                  </div>
                  <!-- <div class="form-row">
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT5"  placeholder="PAY_AMT5 0 to 1000000">
                    </div>
                    <div class="col mt-1 pt-1" mt-5 pt-5>
                      <input type="number" class="form-control" step="0.01" name="PAY_AMT6"  placeholder="PAY_AMT6 0 to 1000000">
                    </div>
                  </div> -->
            </div>
        </div>
                  <div class="text-center">
                    <!-- <input type="submit" value="Predict"><a href="/" type="link">predict</a>
                    <input type="submit" value="Predict">  -->
                    <a type="button" class="Back" href="{{url_for('home')}}">Back</a>
                </div>
                <input class="label" type="submit" name="catGory" id="submit" placeholder=" main and sub category">
                <button>submit</button>
        </form>
    </div>
</div>
    
</body>
{% endblock body_block %}