{% extends 'base.html' %}

{% block body_block %}

    <h1>Machine Learning Classification Projects</h1>
    <h2>Concepts and requirements</h2>
    <h4>{{prediction}}</h4>
    <ul>
        <li>Git accounte</li>
        <li>Heroku colude accounts</li>
        <li>Docker installation in local machine</li>
        <li>
            <ol>
                <li>Machine learning Projects</li>
            </ol>
        </li>
        <li>Sample Prediction: <a href="classify" type="link">Click Here</a></li>
    </ul>

{% endblock body_block %}