{% extends 'header.html' %}

{% block head %}


<title>Housing Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>CreditDefault Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input class="form-control" type="text" name="ID" placeholder="Enter a value of ID"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">LIMIT_BAL</label>
                <input class="form-control" type="text" name="LIMIT_BAL" placeholder="Enter a value of LIMIT_BAL"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">SEX</label>
                <input class="form-control" type="text" name="SEX"
                    placeholder="Enter a value of SEX" />

            </div>
            <div class="mb-3">
                <label class="form-label">EDUCATION</label>
                <input class="form-control" type="text" name="EDUCATION" placeholder="Enter a value of EDUCATION"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">MARRIAGE</label>
                <input class="form-control" type="text" name="MARRIAGE"
                    placeholder="Enter a value of MARRIAGE" required />
            </div>
            <div class="mb-3">
                <label class="form-label">AGE</label>
                <input class="form-control" type="text" name="AGE" placeholder="Enter a value of AGE"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_0</label>
                <input class="form-control" type="text" name="PAY_0" placeholder="Enter a value of PAY_0"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_2</label>
                <input class="form-control" type="text" name="PAY_2" placeholder="Enter a value of PAY_2"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_3</label>
                <input class="form-control" type="text" name="PAY_3" placeholder="Enter a value of PAY_3"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_4</label>
                <input class="form-control" type="text" name="PAY_4" placeholder="Enter a value of PAY_4"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_5</label>
                <input class="form-control" type="text" name="PAY_5" placeholder="Enter a value of PAY_5"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_6</label>
                <input class="form-control" type="text" name="PAY_6" placeholder="Enter a value of PAY_6"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT1</label>
                <input class="form-control" type="text" name="BILL_AMT1"
                    placeholder="Enter a value of BILL_AMT1" required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT2</label>
                <input class="form-control" type="text" name="BILL_AMT2"
                    placeholder="Enter a value of BILL_AMT2" required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT3</label>
                <input class="form-control" type="text" name="BILL_AMT3"
                    placeholder="Enter a value of BILL_AMT3" required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT4</label>
                <input class="form-control" type="text" name="BILL_AMT4"
                    placeholder="Enter a value of BILL_AMT4" required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT5</label>
                <input class="form-control" type="text" name="BILL_AMT5"
                    placeholder="Enter a value of BILL_AMT5" required />
            </div>
            <div class="mb-3">
                <label class="form-label">BILL_AMT6</label>
                <input class="form-control" type="text" name="BILL_AMT6"
                    placeholder="Enter a value of BILL_AMT6" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT1</label>
                <input class="form-control" type="text" name="PAY_AMT1"
                    placeholder="Enter a value of PAY_AMT1" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT2</label>
                <input class="form-control" type="text" name="PAY_AMT2"
                    placeholder="Enter a value of PAY_AMT2" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT3</label>
                <input class="form-control" type="text" name="PAY_AMT3"
                    placeholder="Enter a value of PAY_AMT3" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT4</label>
                <input class="form-control" type="text" name="PAY_AMT4"
                    placeholder="Enter a value of PAY_AMT4" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT5</label>
                <input class="form-control" type="text" name="PAY_AMT5"
                    placeholder="Enter a value of PAY_AMT5" required />
            </div>
            <div class="mb-3">
                <label class="form-label">PAY_AMT6</label>
                <input class="form-control" type="text" name="PAY_AMT6"
                    placeholder="Enter a value of PAY_AMT6" required />
            </div>


            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict Median House Value" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Credit Default :Banking
            </div>
            <div class="card-body">

        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              default: 0 or 1 
            </div>
            <div class="card-body">
        {% if context['project_data'] is not none %}
        <table class="table table-striped">
            <caption>Crdit Default-Banking Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['project_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Crdit Default:  </td>
                <td>
                    {{ context['default'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate housing price in california</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}