<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Test</title>
</head>
<body>

<h2> Model factory </h2>
<ul>
    <li>Model Pushed: {{ title['model_pushed'] }}</li>
    <li>Model Accepted: {{ title['model_accepted'] }}</li>
    <li>Model Path: {{ title['model_best'] }}</li>
    <li>Model trained: {{ title['traine_model'] }}</li>
    <li>Model metric_info: {{ title['metric_info'] }}</li>
    <li>Model predict: {{ title['predict'] }}</li>
</ul>

    <h1>Project Configuration</h1>

<ul>
    <li>{{ context['ingest'] }}</li>
    <li>{{ context['validate'] }}</li>
    <li>{{ context['transform'] }}</li>
    <li>{{ context['model_train'] }}</li>
    <li>{{ context['model_eval'] }}</li>
    <li>{{ context['model_push'] }}</li>
</ul>

<h2>Data Ingestion Artifact </h2>
<ul>
    <li>{{ data['data_ingested'] }}</li>
    <li>{{ data['data_ingested_start'] }}</li>
    <li>{{ data['data_validate'] }}</li>
    <li>{{ data['data_validate_start'] }}</li>
    <li>{{ data['data_transformation'] }}</li>
    <li>{{ data['data_transformation_start'] }}</li>
    <li>{{ data['model_trainer'] }}</li>
    <li>{{ data['model_trainer_start'] }}</li>
    <li>{{ data['model_evaluation'] }}</li>
    <li>{{ data['model_evaluation_start'] }}</li>
    <li>{{ data['model_pusher'] }}</li>
    <li>{{ data['model_pusher_start'] }}</li>
</ul>

</body>
</html>